.best_selling{
    margin-top: 50px;
}



.selling{display: flex;
    width: 100%;
}
.best_selling h1{
   
    margin-left: 380px;
}

.best_selling p{
    margin-left: 370px;
    font-size: 20px;
}
.best_selling p1{
    margin-left: 200px;
    font-size: 20px;
    margin-top: 0px;
}
.selling img{
    height: 100px;
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
}